---
---

@import "{{ site.theme }}";

body { font-size: 15px; }

a:hover {
  font-weight: normal !important;
  background-color: rgba(38,124,195,0.15);
}

.half-line {
  line-height: .5em;
}


.wrapper {
  // width: 1100px;
  width: 90%;
  margin: 0;
}

header {
  // width: 250px;
  width: 20%;
}

section {
  // width: 750px;
  width: 71%;
}
